<div class="row" style="margin-top: 8px;">
    <div class="col-lg-6">
        <form class="form-inline" onsubmit="return false">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" ng-model="newName" placeholder="Category name">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" apptouch="saveCategory(newName)">
                            <span class="glyphicon glyphicon-check"></span>
                        </button>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-8">
        <div class="table-responsive table-bordered" id="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th colspan="2">Tools</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cat in categories">
                        <td>{{cat.id}}</td>
                        <td>{{cat.name}}</td>
                        <td>
                            <button class="btn btn-warning" apptouch="doEditCategory(cat.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                        <td>
                            <button class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>